h2{
    font-size: x-large;
    font-weight: bold;
}

#map {
    width: 1000px;
    height: 600px;
    border: 1px solid black;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.cell{
    border: 1px solid blue;
    width: 38px;
    height: 38px;
}

.trap{
    background-color: red;
}

.treasure{
    background-color: yellow;
}

#player {
    width: 40px;
    height: 40px;
    background-color: blue;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; 
}

.progress{
    border: 1px solid black;
    position: relative;
    height: 25px;
    width: 50em;

}

#progress-bar-label{
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1em;
}

.progress-bar{
    background-color: grey;
    text-align: center;
    height: 100%;
}

#score{
    display: flex;
    justify-content: space-between;
    width: 15em;
}

#status-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    width: 100%;
}

#score-value{
    font-size: 1em;
    text-align: right;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 2em;
    width: 1000px;
}

#container-body{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game-over-poppup{
    padding: 25px 75px;
    background-color: white;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}